node_modules/
**/node_modules/
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
website/assets/js/config.js
book_slot_mobile_revised/screen.png
gallery_mobile_revised/screen.png
home_mobile_revised/screen.png
